{% extends 'case_model.twig' %}
{% block main_stage %}
依案件名稱搜尋：
<input type="text" name="case" value="">
<button type="button" onclick="search_case()">送出</button>
<div id="result"></div>
{% endblock %}

{% block script_stage %}
<script src="/includes/js/case_search.js"></script>
{% endblock %}
