{% extends 'page_model.twig' %}
{% block header %}
<ul>
  <li><a href="/index/case_search_bygroup">分類搜尋</a></li>
  <li><a href="/index/case_search">客戶搜尋</a></li>
  {% if total_privilege b-and page_privilege["addCaseData"] %}
  <li><a href="/index/add_casedata">客戶資料匯入</a></li>
  {% endif %}
  {% if total_privilege  b-and page_privilege["addBacklinkRecord"] %}
  <li><a href="/source_case_interact/record">外鏈歷史紀錄匯入</a></li>
  {% endif %}
</ul>
{% endblock %}
