{% extends 'case_model.twig' %}
{% block style %}
.import_area {display:none;}
{% endblock %}
{% block main_stage %}
<button type="button" onclick="change_toWrite()">手動新增</button>
<button type="button" onclick="change_toImport()">匯入新增</button><br><br>
<div class="write_area">
  <div class="each_newcase">
    <label>案件名稱:</label><input type="text" name="case_name" value=""><br><br>
    <label>網址:</label><input type="text" name="address" value=""><br><br>
    <label>GA碼:</label><input type="text" name="gacode" value=""><br><br>
    <label>產業:</label><select name="industry_name">
      {% for each_industry in industry_tpye %}
      <option value="{{each_industry["auto_industryID"]}}">{{each_industry["industry_name"]}}</option>
      {% endfor %}
    </select>
    <label>操作等級:</label><select name="level">
      {% for each_level in level_tpye %}
      <option value="{{each_level["auto_levelID"]}}">{{each_level["level_name"]}}</option>
      {% endfor %}
    </select>
    <br><br>
  </div>
  <button type="button" onclick="add_anthorcase(this)">繼續新增案件</button>
  <button type="button" onclick="submitnewcase()">提交</button>
</div>
<div class="import_area">
  <form action="/import/casedata/" method="post" id="fileUploadForm" enctype="multipart/form-data">
    <input type="file" name="casedata" value=""><br>
    <button type="submit" onclick="test()">送出</button>

  </form>
</div>
{% endblock %}
{% block script_stage %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script type="text/javascript">
  function change_toWrite(){
    $("div.write_area").show();
    $("div.import_area").hide();
  }
  function change_toImport(){
    $("div.write_area").hide();
    $("div.import_area").show();
  }
  function add_anthorcase(field){
    var add_area = $(".each_newcase:first-child").html();
    var newarea = $("<div class=\"each_newcase\">");
    newarea.html(add_area);
    $(field).before(newarea);

  }
  function submitnewcase(){
    var totalNewCase = [];
    $(".each_newcase").each(function(){
      var NewCase = {
        "case_name" : $(this).children("input[name=case_name]").val(),
        "case_address" : $(this).children("input[name=address]").val(),
        "case_gacode" : $(this).children("input[name=gacode]").val(),
        "case_industry" : $(this).children("select[name=industry_name]").val(),
        "case_level" : $(this).children("select[name=level]").val()
      };
      totalNewCase.push(NewCase);
    });
    $.post("/ajax/add_newcase",{newcasedata:totalNewCase},function(data){
      alert(data);
      location.href = "/index/add_casedata";
    });

  }

  function test(){
    $('#fileUploadForm').ajaxForm({
            beforeSubmit: ShowRequest,
            success: SubmitSuccesful,
            error: AjaxError
          });
  }
  function ShowRequest(formData, jqForm, options) {
          var queryString = $.param(formData);
          alert('BeforeSend method: \n\nAbout to submit: \n\n' + queryString);
          return true;
        }

        function AjaxError() {
          alert("An AJAX error occured.");
        }

        function SubmitSuccesful(responseText, statusText) {
          alert("SuccesMethod:\n\n" + responseText);
          location.href = "/";
        }
</script>
{% endblock %}
