{% extends 'client_model.twig' %}
{% block header %}
<ul>
  <li><a href="#">搜尋</a></li>
  <li><a href="/index/client_search">客戶搜尋</a></li>
  <li><a href="#">客戶資料匯入</a></li>
  <li><a href="#">外鏈歷史紀錄匯入</a></li>
</ul>
{% endblock %}
{% block main_stage %}
<div>
  <button type="button" name="button">案件名稱</button>
  <button type="button" name="button" disabled>最近下外鏈日期</button>
  <button type="button" name="button" disabled>操作等級</button>
  <button type="button" name="button">連結管理</button>
  <button type="button" name="button">刪除</button><br>
</div>

{% endblock %}
