{% extends 'page_model.twig' %}
{% block header %}
<ul>
  <li><a href="#">搜尋</a></li>
  <li><a href="#">客戶搜尋</a></li>
  <li><a href="#">客戶資料匯入</a></li>
  <li><a href="#">外鏈歷史紀錄匯入</a></li>
</ul>
{% endblock %}
{% block style %}
header li{display:inline-block;}
{% endblock %}
