<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
        <div>
          <p>{{allLinkinFile["eachCaseName"]}}</p>
          title:
          <p>{{allLinkinFile["TDK"]["title"]}}</p>
          description:
          <p>{{allLinkinFile["TDK"]["description"]}}</p>
          連結原始碼:
          {% for eachLinkinGroup in allLinkinFile["eachGroupContent"] %}
              <p>{{eachLinkinGroup}}</p>
          {% endfor %}
        </div>
        ---------------------------------
  </body>
</html>
