{% extends 'page_model.twig' %}
{% block header %}
<ul>
  <li><a href="/manage/backlink_type">外鏈種類</a></li>
  <li><a href="/manage/industry">產業分類</a></li>
  <li><a href="/manage/program">方案種類</a></li>
  <li><a href="/manage/level">操作等級</a></li>
  <li><a href="/manage/grouplimit">外鏈群組上限</a></li>
</ul>
<ul>
  <li><a href="/manage/source_topic">資源站類別</a></li>
  <li><a href="/manage/source_status">資源站狀態</a></li>
  <!-- <li><a href="/manage/source_indexstatus">資源站收錄狀態</a></li> -->
  <li><a href="/manage/source_language">資源站語言</a></li>
  <li><a href="/manage/source_anchor">資源站錨文本</a></li>
  <li><a href="/manage/source_sitetype">資源站網站類型</a></li>
</ul>
{% endblock %}
