{% extends 'page_model.twig' %}
{% block header %}
<ul>
  <li><a href="/manage/backlink_type">外鏈種類</a></li>
  <li><a href="/manage/industry">產業分類</a></li>
  <li><a href="/manage/program">操作等級</a></li>
  <li><a href="/manage/level">方案種類</a></li>
  <li><a href="/manage/grouplimit">外鏈群組上限</a></li>  
</ul>
{% endblock %}
