{% extends 'manage_model.twig' %}
{% block main_stage %}
<div manageGroup="type_industry">
  <p>產業分類:</p>
{% for industryKey,industrytype in industry_tpyeName %}
<div class="industryEdit">
  <input type="text" value="{{industrytype}}" inTpyeID="{{industryKey}}"><button type="button" name="delete_ingroup">刪除</button><button type="button" name="change_name">更名</button>
</div>
{% endfor %}
<input type="text" value=""><button type="button" name="addNewtype">新增</button>
</div>
{% endblock %}

{% block script_stage %}
<script src="/includes/js/manage_index.js"></script>
{% endblock %}
