{% extends 'manage_model.twig' %}

{% block style %}
div[manageGroup=type_industry],div[manageGroup=type_level],div[manageGroup=type_program]{display:none;}

{% endblock %}


{% block main_stage %}
<!-- <button type="button" goto="type_backlink">外鏈種類</button>
<button type="button" goto="type_industry">產業分類</button>
<button type="button" goto="type_level">操作等級</button>
<button type="button" goto="type_program">方案種類</button> -->
分類提出，要放什麼可以再想


{% endblock %}

{% block script_stage %}
<script src="/includes/js/manage_index.js"></script>
{% endblock %}
