{% extends 'manage_model.twig' %}
{% block main_stage %}
<div manageGroup="type_backlink">
  <p>外鏈種類:</p>
{% for backlinkKey,backlinktype in backlink_typeName %}
<div class="backlinkEdit">
  <input type="text" value="{{backlinktype}}" inTpyeID="{{backlinkKey}}"><button type="button" name="delete_ingroup">刪除</button><button type="button" name="change_name">更名</button>
</div>
{% endfor %}
<input type="text" value=""><button type="button" name="addNewtype">新增</button>
</div>
{% endblock %}

{% block script_stage %}
<script src="/includes/js/manage_index.js"></script>
{% endblock %}
