<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <textarea id="remark"  source_id="{{guide["source_id"]}}" rows="20" cols="80">{{guide["source_guide"]}}</textarea>
    <button type="button" name="submitguide">submit&back</button>
  </body>
</html>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="/includes/tinymce/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  if (localStorage.getItem("guide")) {
    $("#remark").html(localStorage.getItem("guide"));
  }
});

tinymce.init({
  selector:'textarea',
  plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak",
         "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
         "table contextmenu directionality emoticons paste textcolor responsivefilemanager code"
   ],
  toolbar:  "responsivefilemanager | link | image",
   image_advtab: true,
   relative_urls:false,
   remove_script_host : false,
   convert_urls : true,

   external_filemanager_path:"/includes/filemanager/filemanager/",
   filemanager_title:"Responsive Filemanager" ,
   external_plugins: { "filemanager" : "/includes/filemanager/filemanager/plugin.min.js"}

 });

  $("button[name=submitguide]").click(function(){
    var word = tinymce.get("remark").getContent();
    if ($("textarea").attr("source_id").length > 0) {
      $.post("/ajax_source/source_guideedit/"+$("textarea").attr("source_id"),{source_guide : word},function(){
        alert("good");
        window.close();
      });
    } else{
      window.opener.printedit(word);
      localStorage.setItem("guide",word);
      window.close();
    }

  });

</script>
