{% extends 'source_model.twig' %}
{% block main_stage %}
<table id="sourceindexTable" class="tablesorter">
  <thead>
    <tr>
      <td>資源站資訊</td>
      <td>級別</td>
      <td>類別</td>
      <td>狀態</td>
      <td>使用中狀態</td>
      <td>自建</td>
      <td>網站主題</td>
      <td>語言</td>
      <td>錨文本</td>
      <td>網站類型</td>
      <td>匯出</td>
    </tr>
  </thead>
  <tbody></tbody>
</table>
{% endblock %}
{% block script_stage %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.8/js/jquery.tablesorter.js"></script>
<script type="text/javascript">
$(function(){
  $("#sourceindexTable").tablesorter();
});
</script>

{% endblock %}
