.outer{width: 90%;margin: auto;}
.side{width: 20%;float: left;}
.main{width: 75%;background-color: #eee;min-height: 300px;float: left;padding: 15px; margin-bottom: 50px;}
ul{list-style: none;}
header li{display:inline-block;}
header ul{text-align:center;}
